body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #363538;
    color: #fff;
    padding: 1em 0;
}

header h1 {
    margin: 0;
}
.header {
    text-align: center;
}

.homepage {
    color: #F30F0F /* Header color */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2em;
    border-bottom: 1px solid #ddd;
}

footer {
    text-align: center;
    padding: 1em 0;
    background: #363538;
    color: #fff;
}

#home {
    background-color: #434A54;
    padding: 20px;
    color: #000001; /* Adjust text color for contrast */
    text-align: center;
}

#homebuttons {
    background-color: #434A54;
    padding: 20px;
    color: #000001; /* Adjust text color for contrast */
    text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0px;
}
